@import "colors";

$padding: 2rem;

.container {
  height: calc(100vh - $padding*2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: $padding;
  font-family: monospace;
  font-size: large;
  background: linear-gradient(200deg, $ipl-blue, $white, $white, $ipl-blue);
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  header {
    font-size: xx-large;
  }
}
